.background {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.heading{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

@font-face {
  font-family: 'Norse-Bold'; /* Choose a name for your font */
  src: url('Norse-Bold.otf') format('opentype'); /* Specify the path and format */
  font-weight: bold; /* Optional: define weight if it's a normal variant */
  font-style: normal; /* Optional: define style if it's a normal variant */
}


#odin{
    position: absolute;
    left: 200px;
    bottom: 30vh;
    max-width: 100%;
    height: 10vw;
}

#odin_text{
    position: absolute;
    left: 9px;
    bottom: 30vh;
    max-width: 100%;
    height: 10vw;
    font-family:'Norse-Bold', sans-serif;
    font-size: 150px;
    color: azure;
    background-color:rgb(0 0 0 / 50%);
    padding-right: 2.8vw;
    padding-left: 20vw;
}

#plant{
    width: 40vw;
    max-width: 100%;

}
