.background {
    display: flex;
    flex-direction: row;
}

.heading{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#odin{
    position: absolute;
    left: 400px;
    bottom: 300px;
    max-width: 100%;
    height: 10vw;
}

#plant{
    width: 40vw;
    max-width: 100%;

}